# Database
DATABASE_URL=postgresql://user:password@localhost:5432/denticare
POSTGRES_PASSWORD=sua_senha_super_segura

# Django
SECRET_KEY=gerar-com-django-secret-key-generator
DEBUG=False
ALLOWED_HOSTS=dentcare.hnperformancedigital.com.br,www.dentcare.hnperformancedigital.com.br,localhost

# Email
EMAIL_HOST_USER=midias@hnperformancedigital.com.br  
EMAIL_HOST_PASSWORD=senhadeteste
CONTACT_EMAIL=contato@hnperformancedigital.com.br

# Deployment
ENVIRONMENT=production
RENDER_EXTERNAL_HOSTNAME=seu-site.onrender.com
