# Database
DATABASE_URL=postgresql://user:password@localhost:5432/denticare
POSTGRES_PASSWORD=sua_senha_super_segura

# Django
SECRET_KEY=gerar-com-django-secret-key-generator
DEBUG=False
ALLOWED_HOSTS=seusite.com,www.seusite.com,localhost

# Email
EMAIL_HOST_USER=seu-email@gmail.com
EMAIL_HOST_PASSWORD=sua-senha-de-app
CONTACT_EMAIL=contato@seusite.com

# Deployment
ENVIRONMENT=production
RENDER_EXTERNAL_HOSTNAME=seu-site.onrender.com
